/vendor
/node_modules
Homestead.yaml
.env
### PhpStorm ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

*.iml

## Directory-based project format:
.idea/
/**/.idea/*
/**/.idea/workspace.xml