@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";



/* =======================================================================================
      Global Styles
   ======================================================================================= */

.container {
  border-right:3px solid $brand-primary;
  border-left: 3px solid $brand-primary;
  border-bottom: 3px solid $brand-primary;
  padding:0;
  
  &__inner{
    padding: 0 25px;
  }
}


/* =======================================================================================
      Navigation
   ======================================================================================= */
.navbar {
  border-radius:0;
}

.menu-login {
  background: lighten($brand-primary, 20%);
  padding-left: 0;
  right: -1px !important;
  border-radius:0;

}
.login-form__wrapper {
  width: 300px;
  padding:10px 20px;
}

.login-form {
  div {
    margin-bottom: 10px;
    .input-group-addon{
      background: $brand-primary;
      color: ghostwhite;
      border:0;
    }
  }
}

.form-errors {
  color : $brand-danger;
  margin: 0 20px;
  font-size: 14px;
  line-height: 20px;
  font-style: italic;
}

/*- FILTER OPTIONS -*/
ul#filterOptions {
  width: 80%;
  height: 52px;
  margin: 30px auto;
  overflow: hidden;
  list-style: none;
}
ul#filterOptions li { height: 52px; margin-right: 2px; float: left; }
ul#filterOptions li a {
  height: 50px;
  padding: 0 20px;
  border: 1px solid $brand-primary;
  background: lighten($brand-primary,20%);
  color: #fff;
  font-weight: bold;
  line-height: 50px;
  text-decoration: none;
  display: block;
}
ul#filterOptions li a:hover { background: lighten($brand-primary,10%); }
ul#filterOptions li.active a { background: $brand-primary; }
/*- -*/



/* =======================================================================================
      Main Content
   ======================================================================================= */

.jumbotron {
  background-color: lighten($brand-primary,10);
  color: ghostwhite;
}
.article__row{
  padding-bottom: 15px
}

.article__row-content{
  header{
    h2{ font-size: 22px;}
    margin-bottom: 20px;
  }
}

.meta-data {
  padding-left: 5px;
  i {
    font-size: 18px;
    padding-right:5px;
    color: $brand-primary;
  }
  span:not(:first-child){
    padding-left:15px;
    font-style: italic;
  }
}

.article__row-media{
  margin-top: 20px;
}

.article__video {
  width: 100%;
  height: 220px;
}


/* =======================================================================================
      Footer
   ======================================================================================= */
.site-footer {
  background: $brand-primary;
  color: ghostwhite;
  &__brand{
    h4{
      color: ghostwhite;
    }
  }
  &__text{
    text-align: right;
    padding-top: 12px;
  }
}